<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpRedirect 
            enabled="true" 
            exactDestination="true" 
            destination="https://kheiakiyama-linux.azurewebsites.net$V$Q" 
            httpResponseStatus="Permanent" />
    </system.webServer>
</configuration>